@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100% / 95%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 72.22% 50.59%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5% 64.9%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9% / 90%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  body::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  body {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@layer components {
  .pricing-bg {
    background-image: radial-gradient(
      at right bottom,
      rgb(99 102 241) 0%,
      rgb(30, 64, 175) 10%,
      rgb(15 23 42) 60%
    );
  }
  @media (min-width: 1024px) {
    /* Tailwind's lg breakpoint */
    .pricing-bg {
      background-image: radial-gradient(
        ellipse 85% 120% at center bottom,
        rgb(99 102 241) 0%,
        rgb(30, 64, 175) 30%,
        rgb(15 23 42) 60%
      );
    }
  }
  .pricing-switch {
    background-image: radial-gradient(
      ellipse 85% 120% at center bottom,
      rgb(255, 255, 255, 0.2) 0%,
      rgb(22, 33, 52) 45%
    );
  }
  @media (min-width: 1024px) {
    /* Tailwind's lg breakpoint */
    .pricing-switch {
      background-image: radial-gradient(
        ellipse 85% 120% at center bottom,
        rgb(255, 255, 255, 0.2) 0%,
        rgb(26, 41, 80) 50%
      );
    }
  }

  .grainy-background {
    background-image: url(https://grainy-gradients.vercel.app/noise.svg),
      linear-gradient(to top left, rgb(31 41 55), rgb(17 24 39));
    background-blend-mode: overlay;
  }
}

.popover-content {
  width: var(--radix-popover-trigger-width);
}

.kbd-div {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s ease-in-out;
}

.textarea-container:focus-within .kbd-div {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.3s ease-in-out;
}

.examples-container {
  -webkit-mask-image: linear-gradient(
    90deg,
    #ffffff00 0%,
    black 10%,
    black,
    black 90%,
    #ffffff00 100%
  );
  mask-image: linear-gradient(
    90deg,
    #ffffff00 0%,
    black 10%,
    black,
    black 90%,
    #ffffff00 100%
  );
}
.examples-row {
  animation: marquee 40s linear infinite;
}
.examples-row2 {
  animation: marquee 30s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1048px);
  }
}

.image-gradient {
  mask-image: radial-gradient(
    circle at center,
    rgb(24, 24, 28) 10%,
    transparent
  );
}
